<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.threegroup.vchuang"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.zlw.mymodel.base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jyy.ProjectActivity"
            android:label="@string/title_activity_project" >
        </activity>
        <activity
            android:name="com.jyy.InvestorActivity"
            android:label="@string/title_activity_investor" >
        </activity>
        <activity
            android:name="com.jyy.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
		<activity
            android:name="com.wzy.MyProjectActivity"
            android:label="@string/title_activity_my_project" >
        </activity>
        <activity
            android:name="com.wzy.MyInvestActivity"
            android:label="@string/title_activity_my_invest" >
        </activity>
        <activity
            android:name="com.wzy.CreateProjectActivity"
            android:label="@string/title_activity_create_project" >
        </activity>
        <activity
            android:name="com.wzy.TeamActivity"
            android:label="@string/title_activity_team" >
        </activity>
        <!-- MOB-SDK -->

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>